@font-face {
  font-family: "Museo-sans";
  src: url("../fonts/MuseoSansCyrl-300.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Museo-sans";
  src: url("../fonts/MuseoSansCyrl-500.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Museo-sans";
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff");
  font-weight: 700;
}


@font-face {
  font-family: "Utopia";
  src: url("../fonts/UtopiaStd-BoldDisp.woff") format("woff");
  font-weight: 700;
}

@font-face {
  font-family: "Utopia";
  src: url("../fonts/UtopiaStd-SemiboldDisp.woff") format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Utopia";
  src: url("../fonts/UtopiaStd-Regular.woff") format("woff");
  font-weight: 300;
}
